<h1>About : Judit Polgár</h1>
<p>Judit Polgár (born 23 July 1976) is a Hungarian chess grandmaster, generally considered the strongest female chess player of all time.</p>
<p>Polgár is the only woman to have been a serious candidate for the World Chess Championship, in which she participated in 2005; she had previously participated in large, 100+ player knockout tournaments for the world championship.</p>
<p>She has won or shared first in the chess tournaments of Hastings 1993, Madrid 1994, León 1996, U.S. Open 1998, Hoogeveen 1999, Sigeman & Co 2000, Japfa 2000, and the Najdorf Memorial 2000.[5] Polgár is the only woman to have won a game against a reigning world number one player, and has defeated eleven current or former world champions in either rapid or classical chess: Magnus Carlsen, Anatoly Karpov, Garry Kasparov, Vladimir Kramnik, Boris Spassky, Vasily Smyslov, Veselin Topalov, Viswanathan Anand, Ruslan Ponomariov, Alexander Khalifman, and Rustam Kasimdzhanov.[6]</p>
<h2>Awards</h2>
<ul>
    <li>Hungarian Chess Player of the Year (in 1989, 1991, 1993, 1994, 1998–2003, 2005–2012, and 2014)</li>
    <li>8-time Chess Oscar winner - for annual performance: in 1988, 1995, 1996, 2000, 2001, and 2002 - Female Chess Player of the Century: 2001</li>
    <li>FIDE Caissa Award (the newly established "Chess Oscar"): 2012 [250]</li>
    <li>The Knight's Cross of the Order of Merit of the Republic of Hungary (Budapest, 2003) [251]</li>
    <li>The Commander's Cross with Star of the Hungarian Order of Merit (Budapest, 2013)</li>
    <li>Prima Primissima (Budapest, 2014)</li>
    <li>a Member of the Association of Immortal Hungarian Athletes (Budapest, 2014)</li>
    <li>The Hungarian Order of St. Stephen (Budapest, 2015) [252]</li>
    <li>Best European Learning Materials Award – for the Chess Palace Program (Frankfurt, 2015)</li>
    <li>Honorary Citizen of Budapest (Budapest, 2016) [253]</li>
    <li>James Joyce Award from the UCD Literary & Historical Society (Dublin 2017) [254]</li>
    <li>ECU European Golden Pawn, "European Chess Legend" (Monte Carlo, 2019) [255]</li>
    <li>Honorary Doctor of the University of Physical Education (Budapest, 2020) [256]</li>
    <li>Inducted into the World Chess Hall of Fame (2021) [257]</li>
    <li>FIDE ICON Award (2022) [258]</li>
</ul>
<nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./works">Works</a></li>
            <li><a href="./photos">Photos</a></li>
        </ul>
</nav>