<h1>Home page</h1>
<p>Welcome in this server</p>
<nav>
        <ul>
            <li><a href="./about">About</a></li>
            <li><a href="./works">Works</a></li>
            <li><a href="./photos">Photos</a></li>
        </ul>
</nav>