<h1>Photos of Judit Polgár</h1>
<div id='slider'>
    <button id="change">Next</button>
    <div>
        <img id="photo" src="/img/6XUA3MOK45FHZNLYNL2LWGBYGI.jpg" alt="">
    </div>
</div>
<nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="./works">Works</a></li>
        </ul>
</nav>

    <script src="/script/slider.js"></script>
