<h1>Works of Judit Polgár</h1>
<p>The Judit Polgar Chess Foundation[247] developed two educational programs. One is Chess Palace for primary school children (grades 1–4) and the other one is Chess Playground for pre-school children. The aim is to improve various skills (problem solving, strategical thinking, etc.) with the help of chess.[248] The systematic rules of chess are used to process the knowledge of general subjects as well (math, language, etc.). The program is very successful in Hungary and it is part of the Hungarian National Curriculum. At the 2015 Frankfurt Book Fair the Chess Palace book series received the special prize of the Best European Learning Materials Awards (BELMA).</p>
<h2>Books</h2>
<ul>
    <li>Judit Polgar: How I Beat Fischer's Record (in English, German, French, Hungarian)</li>
    <li>Judit Polgar: From GM to Top Ten (in English, German, French, Hungarian)</li>
    <li>Judit Polgar: A Game of Queens (in English, German, French, Hungarian)</li>
    <li>Educational chess exercise books for pre-school children
        <ul>
            <li>Kalandozások a sakktáblán (Adventures on the Chessboard)</li>
            <li>Sakklépések (Chess Moves)</li>
            <li>Sakk és matt (Check and Mate)</li>
        </ul>
    </li>
    <li>Educational chess books, and exercise books for elementary school children 
        <ul>
            <li>Sakkpalota (Chess Palace), series 1–4.</li>
        </ul>
    </li>
</ul>
<nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="./photos">Photos</a></li>
        </ul>
</nav>