h1{
    text-align: center;
}
h2{
    margin-left: 5rem;
}
body{
    background-color: rgb(107, 13, 13);
    color: aliceblue;
}
nav{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: aliceblue;
    background-color: darkblue;
    padding: 0 1rem;
    /* margin: 1rem; */
}
nav ul{
    display: flex;
}
nav ul li{
    margin: 1rem;
    list-style: none;
}
img{
    width: 100%;
}